<div class="box-profile">

<div class="profile1">
    <img src="{{ image }}" class="img-fluid" alt="">
</div>

<div class="profile2">
    <ul>
    <li><h1>#{{ name }}</h1></li>
    <li><h2>{{ affiliation }}</li>
    <li>{{ specie }}</li>
    <li>{{ gender }}</li>
    <li>{{ origin }}</li>
    <li>{{ abilities }}</li>
    {{#unless user}} 
<button onclick="myalert()">Ask</button>
    <script>
        function myalert() {
            alert("The hero is on the way!\n " +
                "Click OK to share your location to facilitate the meeting!");
        }
    </script>
    {{else}}
<button onclick="myalert()">Meeting</button>
    <script>
        function myalert() {
            alert("The hero is on the way!\n " +
                "Click OK to share your location to facilitate the meeting!");
        }
    </script>
 <button><a href="/heroes/{{id}}/delete">Delete</a></button>
 <button><a href="/heroes/{{id}}/edit">Edit</a></button>
 {{/unless}}
    </ul>
</div>
</div>

</div>