<div class="box-profile">

<div class="profile1">
    <img src="{{ heroFromDB.image }}" class="img-fluid" alt="">
</div>

<div class="profile2">
    <ul>
    <li><h1>#{{ heroFromDB.name }}</h1></li>
    <li><h2>{{ heroFromDB.affiliation }}</li>
    <li>{{ heroFromDB.specie }}</li>
    <li>{{ heroFromDB.gender }}</li>
    <li>{{ heroFromDB.origin }}</li>
    <li>{{ heroFromDB.abilities }}</li>
    {{#unless user}} 
<button onclick="myalert()">Ask</button>
    <script>
        function myalert() {
            alert("The hero is on the way!\n " +
                "Click OK to share your location to facilitate the meeting!");
        }
    </script>
    {{else}}
<button onclick="myalert()">Meeting</button>
    <script>
        function myalert() {
            alert("The hero is on the way!\n " +
                "Click OK to share your location to facilitate the meeting!");
        }
    </script>
    {{#if canDelete}}
 <button><a href="/heroes/{{id}}/delete">Delete</a></button>
 <button><a href="/heroes/{{id}}/edit">Edit</a></button>
 {{/if}}
 {{/unless}}
    </ul>
</div>
</div>



</div>